.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 20150401;
  background:url(../../images/main/bg_stripe.gif) fixed;
}

.loading__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
  font-weight: 900;
  color: #148d9c;
}

.loading__click {
  display: none;
  cursor: pointer;
}