/***************************************************
width.css{

	1.プレビュー時の幅指定(基本)

}
$width.css,v 2.0 2007/03/08 rei Exp $
***************************************************/

/* 1.本文情報登録テーブルレイアウト(基本)
---------------------------------------------*/
/* プレビューテーブル基本枠指定 */
.type {
	width: 850px;
	margin: 10px auto 10px auto;
	padding: 0px;
	text-align: center;
	font-size: 80%;
	}
