#contents{
margin-top:50px;
background:url(../../../../images/main/quest/quest_bg.jpg) center no-repeat;
padding:50px;
height: 750px;
}

#contents_inner{
width:980px;
margin:0 auto;
}

body {
background:#000;

}

#contents_main{
animation: fadein 1s ease 0s 1 both;
}

@keyframes fadein{
0% {opacity: 0;}
100% {opacity: 1;}
}