/* 3段組み枠指定
---------------------------------------------*/
/* メイン・サイド グループ枠指定 */
#contents_main {
	float: right;
	}

/* 中央部分枠指定 */
#main {
	float: left;
	}

/* サイド指定 */
#side {
	float: left;
	}

/* 右サイド指定 */
#right_side {
	float: right;
	}

