#contents{
margin-top:50px;
background:url(../../../../images/main/wallpaper/background.png) center no-repeat;
padding:50px;
height: 750px;
}

#contents_inner{
width:980px;
margin:0 auto;
}

body {
background:#000;
}

#contents_main{
animation: fadein 1s ease 0s 1 both;
}

@keyframes fadein{
0% {opacity: 0;}
100% {opacity: 1;}
}

#cms_block {
  text-align: center;
}

#cms_block img{
box-shadow: 0 12px 9px 0 rgba(113, 75, 31, 0.2);
}